* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.max-width {
  max-width: 1140px;
  margin: auto;
}

/* Hero Styles */
header {
  background-image: url("../images/banner/banner3.png");
}

.hero {
  height: 808px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  text-align: right;
  margin-top: 216px;

  color: #ffffff;
}

.hero-description {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  text-align: right;

  color: #ffffff;
  max-width: 500px;
  margin: 30px 0;
}

.btn-primary {
  padding: 16px 24px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}

.btn-primary a {
  text-decoration: none;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: #005fac;
}

/* About me styles */

.about-me {
  display: flex;
  gap: 88px;
  margin-top: 130px;
  display: flex;
  align-items: center;
}

.about-me div ul {
  list-style: url("../images/icons/list-style.svg");
}

.about-me .content h2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
}

.about-me .content p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 24px 0 16px 0;

  color: #444343;
}

.about-me .content ul li {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #444343;
}

/* My Plans Styles */

.my-plans {
  margin-top: 130px;
}

.my-plans-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #151414;
  margin-bottom: 150px;
}

.my-plans-container{
    display: flex;
    gap: 100px;
}
.my-plans-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-plans-item h3 {
  margin: 16px 0 16px 0;
  color: #151414;
  font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: center;


}

.my-plans-item img {
  width: 92.96px;
}
.my-plans-item p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;

  color: #737272;
}

/* cta styles */

.cta{
    
    margin-top: 130px;
    padding: 60px 64px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(../images/watch.png);
border-radius: 8px ;

}

.cta-title{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;

color: #FFFFFF;
margin-bottom: 24px;
}

/* footer styles */

footer{
    background: #151414;
    padding: 150px 0;
    margin-top: 50px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
}

footer div div {
    width: 485px;

}
footer div div h3{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 53px;


color: #F8F8F8;
margin-bottom: 16px;
}
footer div div p{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

color: #FFFFFF;
}
footer div div div {
    margin-top: 16px;
}

form h3{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 29px;

color: #FFFFFF;
}

form input{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
background-color: #151414;
border: 1px solid #F8F8F8;
border-radius: 8px;

color: #F3F3F3;
padding: 21px;
margin: 32px 0 16px 0;
}

form button{
    background-color: #005FAC;
border-radius: 8px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
padding: 20px 36px;
}
